@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Work+Sans:wght@100..900&display=swap');

:root {
    --text-gray: #424242;
    --text-light-gray: #727272;
    --bg-light: rgba(255, 144, 14, 0.1);
    --btn-bg: #FF900E;
}

body {
    margin: 0;
    padding: 0;
}

.work-sans-font {
    font-family: "Work Sans", sans-serif;
}

.display-flex {
    display: flex;
}

header {
    background-color: var(--bg-light);
}

main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-item {
    list-style: none;
    margin-right: 30px;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-gray);
    font-weight: 500;
}

.brand {
    font-weight: 700;
    font-size: 3rem;
}

.banner-content {
    max-width: 850px;
    margin: 0 auto 50px;
    text-align: center;
}

.banner-title {
    font-weight: 700;
    font-size: 4rem;
}

.btn-primary {
    background-color: var(--btn-bg);
    color: white;
    padding: 15px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.banner-img {
    width: 100%;
    display: block;
    margin-top: 30px;
}

main>section {
    margin-top: 130px;
}

.teams {
    align-items: center;
    gap: 50px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    flex: 1;
}

.our-features {
    flex: 1;
}

.feature-title {
    font-size: 2.7rem;
    font-weight: 700;
}

.quick-list {
    color: var(--text-light-gray);
    font-weight: 500;
}

.service {
    color: var(--btn-bg);
    font-weight: 700;
}

.feature-description {
    color: var(--text-light-gray);
    margin: 20px 0;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.fact {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--btn-bg);
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
}

.fact-icon {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.fact-no {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 10px 0 5px;
}

.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.fact-description {
    color: var(--text-light-gray);
    width: 100%;
    max-width: 700px;
    margin-bottom: 30px;
}


.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-info p {
    color: var(--text-light-gray)
}

.sponsors-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

}

.sponsors-companies img {
    filter: grayscale(100%);
}

/* Responsive */
@media screen and (max-width: 576px) {

    .navbar,
    .teams {
        flex-direction: column;
        text-align: center;
    }

    .team-img-container,
    .sponsors-companies {
        grid-template-columns: 1fr;
    }

    .our-features {
        margin-left: 0;
    }

    .sponsors-companies {
        justify-items: center;
        gap: 50px;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams {
        flex-direction: column;
    }

    .our-features {
        margin: 0 70px;
    }

    .sponsors-companies,
    .facts-container {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        gap: 50px;
    }
}